:root {
    --bg-color: #263f43;
    --bg-gradient: radial-gradient(circle, rgba(69,65,59,1) 0%, rgba(38,63,67,1) 100%);
    --text-color: #f3ece7;
    --accent-color: #e87026;
    --btn-hover: #ECB385;
}